* {
    margin: 0%;
    padding: 0%;
    box-sizing: 0%;
}

.quadrado {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}

    .circulo1{
        width: 150px;
        height: 150px;
        background-color: red;
        border-radius: 100%;
    }

    .circulo2{
        width: 150px;
        height: 150px;
        background-color: yellow;
        border-radius: 100%;
       }

       .circulo3{
        width: 150px;
        height: 150px;
        background-color: rgb(6, 209, 6);
        border-radius: 100%;
       }

        
    